#root {
  margin: auto;
  text-align: center;
}

.title {
  line-height: 0.1;
}

.header {
  line-height: .8;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category {
  padding: 10px;
  width: 175px;
  line-height: 0.1;
  border-radius: 22px;
}

.characters {
  border: 5px solid #417d6c;
  background-color: rgba(65, 125, 108, 0.2);
}

.planets {
  border: 5px solid #7492A5;
  background-color: rgba(116, 146, 165, 0.2);
}

.quotes {
  border: 5px solid #900816;
  background-color: rgba(144, 8, 22, 0.2);
}

.streaks {
  display: flex;
  /*align-content: center;*/
  /*align-items: center;*/
  justify-content:center;
  gap: 10px;
}

.streak {
  background-color: rgba(116, 146, 165, 0.2);
  font-size: 15px;
  padding: 15px;
}

.card-mechanism {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.card-guess {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 15px 0;
}

.textbox {
  width: 500px;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 20px;
  outline: none;
}

.textbox::placeholder {
  color: #7492A5;
}

.button {
  line-height: 15px;
  background-color: #212C3F;
  font-size: 15px;
  padding: 15px;
  outline: none;
  border: none;
  color: white;
  text-align: center;
}

.none {
  border: 1px solid #7492A5;
  background-color: rgba(116, 146, 165, 0.2);
}

.incorrect {
  border: 1px solid #900816;
  background-color: rgba(144, 8, 22, 0.2);
}

.correct {
  border: 1px solid #417d6c;
  background-color: rgba(65, 125, 108, 0.2);
}

.arrow button {
  margin: 0px 10px;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  line-height: 20px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #212C3F;
  color:  #fff;
  cursor: pointer;
}

.arrow button:hover {
  border-color: #7492A5;
}

.card {
  display: flex;
  justify-content: center;
  align-content: center;
}

.content {
  padding: 50px;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.content:active {
  cursor: pointer;
  transform: scale(1);
}
